/*Reset.css */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	line-height:1;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}


/* Reset Finished */

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
	overflow-x: hidden;
}

.inline {
	display: inline-block;
}

.loader {
	height: 100%;
	width: 100%;
	background: rgba(226,226,226,0.8); 
	position: absolute;
	top:0px;
	left:0px;
	z-index: 10000;
	text-align: center;
}

.loader img {
	margin-top: 182px;
	width: 52px;
}

.load-text-container {
	background: rgba(230,230,230,1);
	margin-top: 28px;
	height: 200px;
}

.load-text {
	font-size: 20px;
	margin-top: 24px;
}

.heading {
	text-align: center;
	margin-top: 160px;
	-webkit-transition: .33s ease-in-out;
}

.logo img {
	-webkit-transition: .33s ease-in-out;
}

.search-area {
	width: 50%;
	margin: 20px auto;
}


/* The CSS */
select {
	padding:3px;
	margin: 0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: 0 3px 0 #eee, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #eee, 0 -1px #fff inset;
	box-shadow: 0 3px 0 #eee, 0 -1px #fff inset;
	background: #f8f8f8;
	color:#888;
	border:none;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	width: 150px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select {padding-right:18px}
}

label {position:relative}
label:after {
	content:'<>';
	font:11px "Consolas", monospace;
	color:#aaa;
	margin-top: 5px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	right:8px; top:2px;
	padding:0 0 2px;
	border-bottom:1px solid #ddd;
	position:absolute;
	pointer-events:none;
}
label:before {
	content:'';
	right:6px; top:0px;
	width:20px; height:20px;
	background:#f8f8f8;
	position:absolute;
	pointer-events:none;
	display:block;
}

.paginated-results {
	padding: 0px 100px 0px 100px;
}

.pagination > li > a, .pagination > li > span {
	width: 70px;
	text-align: center;
}


.result-item {
	margin-top: 20px;
	float: none !important;
}

.result-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 17px;
}

a.selected {
	color: #2a6496;
	background-color: #eee;
	border-color: #ddd;
}

.loading-results {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.4);
	display:none;
	z-index: 100;
}




/*Autocomplete*/
.ui-helper-hidden-accessible {
	display: none;
}